@model ProccessorsModel

@{
    ViewData["Title"] = "Processors";
}

<div class="container">
  <div class="row">
    @{
        foreach(var processor in Model.Processors)
        {
            <div class="card">
                <img src="@processor.PictureUrl" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">@processor.Name</h5>
                  <p class="card-text">@processor.Price Eur.</p>
                  <a href="@processor.ProductLink" class="btn btn-primary">Go to Seller</a>
                </div>
            </div>
        }
    }
    </div>
</div>